/* .poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}
  .playfair-display-<uniquifier> {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  --primary-button:#73EC8B
}*/
:root {
  --primary-color: #0f0f0f;
  --secondary-color: #AACBC4;
  --primary-button: #2CC295;
  --heading-color: #e0e0e0;
  --body-text-color: #b0b0b0;
  --hover-button: #3cffc5;


}

body {
  background-color: var(--primary-color) !important;
}

nav .nav-link {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: var(--primary-button) !important;
}

nav .nav-link.active {
  color: var(--body-text-color) !important;
}

nav .navbar-toggler {
  background-color: var(--primary-button);
}

body .navbar-toggler-icon {
  width: 18px;
  height: 23px;
}

.home-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 30px;
  margin: 150px auto;
  align-items: center;
}

.home-body-img img {
  border-bottom: .5px solid #2cc29573;
  border-right: .5px solid #2cc29573;
  border-radius: 4px;
}

body h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: var(--body-text-color);
  margin-top: 10px;
}

body h2 {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 1px;
  color: var(--secondary-color);
}

body h3 {
  font-family: "Playfair Display", serif;
  font-size: 35px;
  letter-spacing: 1px;
  margin-bottom: 12px;
  color: var(--body-text-color);
  font-weight: 300;
}

body h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 22px;
  color: var(--body-text-color);
  margin-left: 2px;
}

.home-body-button-container {
  margin-top: 30px;
}

.home-body-button {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: var(--primary-button);
  border-radius: 4px;
  padding: 10px 20px;
  text-decoration: none;
  color: var(--primary-color);
  box-shadow: var(--hover-button) 0px 1px 4px;

}

.home-body-button:hover {
  border: none;
  border-bottom-left-radius: 4px;
  background-color: var(--hover-button);

}

.work-section {
  background: linear-gradient(0deg, var(--primary-color), 80%, #212121);
  text-align: center;
}

.featured-project {
  margin-bottom: 200px;
  padding: 10px 0;
}

body .work-section-weather-app-container {
  margin: auto;
}

.work-section-header {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding: 30px;
  margin-bottom: 50px;
  color: var(--heading-color);
}

.work-section-weather-app-pic {
  box-shadow: rgb(255 255 255 / 12%) 0px 1px 3px, rgb(255 255 255 / 24%) 0px 1px 2px;
  border-radius: 4px;
}

.work-section-weather-app-head {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 50px;
  color: var(--heading-color);
}

.work-section-weather-app-p {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 16px;
  line-height: 30px;
  padding: 10px;
  color: var(--body-text-color);
  margin-top: 16px;
  text-align: justify;
}

.work-section-weather-app-button button {
  background: none;

  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 14px;
  padding: 10px 20px;
  border: 1px solid var(--primary-button);
  border-radius: 4px;
  margin-top: 26px;
  box-shadow: var(--primary-button) 0px 1px 4px;
}

.work-section-weather-app-button button a {
  text-decoration: none;
  color: var(--body-text-color);
}

body .footer {
  margin: 132px auto 80px;
  padding: 49px 119px;
  background: #353941;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.footer-head {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 48px;
  color: var(--heading-color);
}

.footer-p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: var(--body-text-color);
}

.footer button {
  background-color: var(--primary-button);
  border: none;
  box-shadow: var(--primary-color) 0px 1px 4px;
  border-radius: 4px;
  padding: 18px 38px;
}

.footer button a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: var(--primary-color);
}

.contact {
  margin: 130px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 17px;
  color: var(--body-text-color);
  padding: 40px 0;
}

.social-media a {
  border-radius: 100%;
  padding: 7px 14px;
  background-color: var(--primary-button);
}

/**************************************************/
.about-hero {
  margin: 55px auto 178px;
}

.about-hero-img img {
  border-bottom: 1px solid var(--primary-button);
  filter: drop-shadow(0px 0px 5px #b0b0b0);
}

.about-name {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 64px;
  color: var(--heading-color);
  margin-bottom: 29px;
}

.about-title {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: var(--heading-color);
  margin-bottom: 28px;
}

.about-p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--body-text-color);
  margin-bottom: 48px;
}

.about-button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-color: var(--primary-button);
  border: none;
  border-radius: 4px;
  padding: 14px 30px;
}

.about-my-skills-box-container {
  margin-bottom: 200px;
  max-width: 60% !important;

}

.about-my-skills {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 40px;
  color: var(--heading-color);
  margin-bottom: 70px;
}

.about-my-skills-svg {
  border: 1px solid #aacbc43d;
  padding: 30px 0 !important;
  border-radius: 12px;
  max-width: 19% !important;

}

.about-my-skills-items {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: var(--body-text-color);
  margin-top: 10px;
}

/**************************************************/
.work-headline {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 64px;
  color: var(--heading-color);
  margin: 178px auto;
}

.work-projects-items {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: var(--body-text-color);
}

.work-projects-items-title {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.work-projects-items-title a {
  text-decoration: none;
  color: var(--body-text-color);
}

.work-projects-items-title a:hover {
  color: var(--primary-button);
}

body .work-projects-box-2 {
  margin-top: 120px;
}

.work-projects img {
  border-radius: 4px;
  padding: 1px;
  background-color: white;
}

body .work-projects-box-3 {
  margin-top: 120px;
}

body .work-projects-box-4 {
  margin-top: 120px;
  margin-bottom: 200px;
}

/**************************************************/
.contact-page {
  min-height: 100vh;
  background-color: rgba(56, 67, 67, 1);
  background-image: linear-gradient(360deg, rgba(56, 67, 67, 1) 7%, rgba(15, 15, 15, 1) 71%);
}

.contact-headline {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 64px;
  color: var(--heading-color);
  margin: 178px auto;
}

.contact-headline .line-1 {
  font-size: 38px;
  color: var(--body-text-color);

}

.contact-headline .contact-me {
  font-weight: 400;
  font-size: 30px;
  margin-top: 60px;
  color: var(--secondary-color);
}

.contact-headline .contact-me-mail {
  font-size: 35px;
  color: var(--secondary-color);
  margin-top: 10px;
}

.contact-footer {
  background: #353941;
  border-radius: 20px;
  padding: 49px 119px;
}

.contact-footer-inquiry {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 45px;
  line-height: 63px;
  color: var(--body-text-color);
  margin-bottom: 15px;
}

.contact-footer-inquiry-p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 20px;
  color: var(--body-text-color);
}

.contact-footer-inquiry-button a {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: var(--primary-color);
  text-decoration: none;
  background-color: var(--primary-button);
  border: none;
  box-shadow: var(--primary-color) 0px 1px 4px;
  border-radius: 4px;
  padding: 15px 30px;
  transition: all ease 200ms;
}

.contact-footer-inquiry-button a:hover {
  background-color: var(--hover-button);

}

/**************************************************/
@media (max-width: 1399px) {

  .work-section-weather-app-button button {
    margin-top: 22px;
  }

  .about-name {
    font-size: 58px;
    margin-bottom: 12px;
  }

  .about-p {
    margin-bottom: 38px;
  }

  .work-headline {
    font-size: 56px;
  }

  .contact-headline {
    font-size: 56px;
  }
}

/**************************************************/

@media (max-width: 1199px) {

  .work-section-header {
    font-size: 16px;
  }

  .work-section-weather-app-head {
    font-size: 45px;
  }

  .work-section-weather-app-p {
    font-size: 12px;
    margin-top: 12px;
  }

  .work-section-weather-app-button button {
    font-size: 11px;
    margin-top: 15px;
  }

  .featured-project {
    margin-bottom: 130px;
  }

  .about-hero {
    margin: 170px auto;
  }

  .about-name {
    font-size: 48px;
    margin-bottom: 20px;
  }

  .about-p {
    font-size: 14px;
    line-height: 27px;
  }

  .about-button {
    font-size: 14px;
    padding: 14px 30px;
  }



  .about-my-skills-svg {
    max-width: 21% !important;
  }

  .work-headline {
    font-size: 60px;
  }

  .contact-headline {
    font-size: 60px;
  }
}

@media (max-width: 991px) {
  .home-body-text h4 {
    font-size: 18px;
  }

  .home-body-text h2 {
    font-size: 35px;
  }

  .about-my-skills-svg {
    padding: 20px 0 !important;
  }

  .home-body-text h3 {
    font-size: 30px;
  }

  .home-body-text h1 {
    font-size: 16px;
    margin-top: 12px;
  }

  .home-body-button {
    padding: 8px 16px;
    font-size: 14px;
  }

  .home-body-img img {
    width: 250px;
  }

  .about-name {
    font-size: 35px;
    margin-bottom: 8px;
  }

  .about-title {
    font-size: 18px;
  }

  .work-section-weather-app-head {
    font-size: 40px;
  }

  .work-section-weather-app-p {
    font-size: 11px;
    margin-top: 5px;
    line-height: 22px;
  }

  .work-section-weather-app-button button {
    font-size: 13px;
    margin-top: 10px;
    padding: 13px 15px;
  }

  .contact-footer-inquiry {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 13px;
  }

  .contact-footer-inquiry-p {
    font-size: 14px;
    line-height: 21px;
  }

  .contact-footer-inquiry-button a {
    padding: 12px 24px;
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .home-body {
    margin: 120px auto;
  }

  .home-body-text h4 {
    font-size: 17px;
  }

  .home-body-text h2 {
    font-size: 28px;
  }

  .home-body-text h3 {
    font-size: 27px;
  }


  .home-body-text h1 {
    margin-top: 8px;
  }

  .home-body-button-container {
    margin-top: 23px;
  }

  .home-body-button-container {
    margin-top: 20px;
  }

  .home-body-button {
    font-size: 12px;
    padding: 6px 10px;
  }

  .home-body-img img {
    width: 200px;
  }

  .work-section {
    margin-top: 112px;
  }

  body .work-section-weather-app-container {
    margin-top: 20px;
  }

  .featured-project {
    margin-bottom: 70px;
  }

  .contact-footer-inquiry {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 10px;
    justify-content: center;
  }

  .contact-footer-inquiry-p {
    font-size: 12px;
    line-height: 20px;
    justify-content: center;
  }

  body .contact-footer-inquiry-button {
    justify-content: center !important;
  }

  .contact-footer-inquiry-button a {
    padding: 10px 22px;
    font-size: 12px;
  }

  .contact a {
    font-size: 18px;
    padding: 35px 0;
  }

  .social-media a {
    padding: 5px 9px;
  }

  .about-hero-row-text {
    text-align: center;
    margin-bottom: 20px;
  }

  .about-name {
    font-size: 40px;
    margin-bottom: 8px;
  }

  .about-title {
    font-size: 16px;
    line-height: 21px;
  }

  .about-p {
    font-size: 13px;
    line-height: 25px;
    margin-bottom: 32px;
  }

  .about-button {
    font-size: 12px;
    padding: 14px 30px;
  }

  .about-hero-image {
    width: 300px;

  }

  body .about-hero-img {
    justify-content: center !important;

  }

  body .about-my-skills-gap-row {
    gap: 10px !important;
    margin-top: 10px !important;
  }

  .about-my-skills-img {
    width: 50px;
  }

  .about-my-skills-svg i {
    font-size: 36px;
  }

  .about-my-skills-svg svg {
    width: 37px;
    height: 37px;
  }

  .about-my-skills-items {
    font-size: 12px;
  }

  .work-headline {
    font-size: 42px;
  }

  body .work-projects-box-1-weather-app {
    margin-bottom: 40px !important;
  }

  .contact-headline {
    font-size: 42px;
    margin: 140px auto 60px;
    text-align: center;
  }

  .contact-headline .line-1 {
    font-size: 30px;
  }

  .contact-headline .contact-me {
    font-size: 28px;
  }

  .contact-headline .contact-me-mail {
    font-size: 29px;
  }
}

@media (max-width: 575px) {
  body .home-body {
    padding: 0 30px;
  }

  .home-body-text h4 {
    font-size: 15px;
  }

  .home-body-text h3 {
    font-size: 25px;
  }

  .home-body-text h2 {
    font-size: 26px;
  }

  .home-body-text h1 {
    font-size: 15px;
  }

  .home-body-img {
    margin: auto 0;
  }

  .home-body-img img {
    width: 197px;
  }

  .home-body-button-container {
    margin-top: 16px;
  }

  .home-body-button {
    font-size: 10px;
    padding: 5px 10px;
  }

  .work-section-weather-app-p {
    padding: 10px 31px;
  }

  body .contact-footer {
    margin: auto 20px;
    padding: 48px 41px;
  }

  .contact-footer-inquiry-p {
    text-align: center;
  }

  .about-hero {
    text-align: center;
  }

  body .about-hero-img {
    justify-content: center !important;

  }

  .about-name {
    font-size: 35px;
  }

  .about-p {
    font-size: 12px;
    line-height: 22px;
    margin-bottom: 22px;
    text-align: justify;
    padding: 0 20px;
  }
}

@media (max-width: 665px) {
  .about-my-skills-box-container {
    max-width: 75% !important;
  }
}

@media (max-width: 540px) {
  .home-body {
    justify-content: center;
  }

  .home-body-text {
    margin-bottom: 30px;
    text-align: center;
  }

  .home-body-img img {
    border-right: none;
    border-radius: 0px;
  }

  .work-section-header {
    font-size: 14px;
  }

  .work-section-weather-app-head {
    font-size: 30px;
  }

  .work-section-weather-app-p {
    font-size: 11px;
    margin-top: 6px;
    line-height: 21px;
  }

  .work-section-weather-app-button button {
    font-size: 10px;
  }

  .about-my-skills {
    font-size: 35px;
  }

  .about-my-skills-box i {
    font-size: 32px;
  }

  .about-my-skills-items {
    font-size: 10px;
    margin-top: 7px;
  }

  .about-my-skills-svg svg {
    width: 37px;
    height: 33px;
  }

  .work-headline {
    margin: 145px auto;
    font-size: 33px;
  }

  .work-projects-items {
    font-size: 18px;
  }

  .work-projects-items-title {
    font-size: 10px;
    line-height: 9px;
  }

  .contact-headline {
    font-size: 35px;
  }

  .contact-headline .line-1 {
    font-size: 28px;
  }

  .contact-headline .contact-me {
    font-size: 25px;
  }

  .contact-headline .contact-me-mail {
    font-size: 26px;
  }

  .contact-footer-inquiry {
    text-align: center;
  }

  .contact-footer-inquiry-p {
    text-align: center;
  }
}

@media (max-width: 499px) {
  .home-body-text {
    display: flex;
    flex-direction: column;
  }

  .home-body-button-container {
    display: flex;
    justify-content: center;
  }

  .home-body-img {
    display: flex;
    justify-content: center;
    margin: auto;
  }
}

@media (max-width: 460px) {
  .about-my-skills-svg {
    padding: 15px 0 !important;
  }

  body .about-my-skills-gap-row {
    gap: 8px !important;
    margin-top: 8px !important;
  }

}

@media (max-width: 442px) {
  .about-my-skills-box-container {
    max-width: 90% !important;
  }
}

@media (max-width: 375px) {
  .home-body {
    justify-content: center;
    text-align: center;
  }

  .home-body-img {
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .work-section-weather-app-head {
    font-size: 25px;
  }

  body .about-my-skills-svg {
    flex: 0 0 33.33% !important;
    max-width: 33.33% !important;
  }

  .about-my-skills {
    margin-bottom: 25px;
  }

  .contact-footer-inquiry {
    font-size: 22px;
  }

  .contact-footer-inquiry-p {
    font-size: 10px;
    line-height: 20px;
    text-align: center;
  }

  .contact-footer-inquiry-button a {
    padding: 10px 20px;
    font-size: 10px;
  }

  .contact-footer {
    padding: 43px 63px;
  }

  .contact {
    margin: 100px auto;
  }

  .contact a {
    font-size: 14px;
    padding: 30px 0;
  }

  .social-media a {
    padding: 4px 8px;
  }
}