/* .poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}
  .playfair-display-<uniquifier> {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}*/
:root {
  --primary-color: #0f0f0f;
  --secondary-color: #005b41;
  --tertiary-color: #d2ff72;
  --primary-accent: #00ffff;
  --primary-button: #00bfa6;
  --secondary-icon: #7d3ac1;
  --secondary-border: #a020f0;
  --heading-color: #e0e0e0;
  --body-text-color: #b0b0b0;
  --element-color: #ff8c42;
}
body {
  background-color: var(--primary-color) !important;
}
nav .nav-link {
  color: var(--primary-button) !important;
}

nav .navbar-toggler {
  background-color: #00bfa674;
}
.home-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.home-body-text {
  margin-top: 120px;
}
.home-body-img {
  margin: auto 0 0 auto;
  filter: drop-shadow(1px 1px 15px var(--heading-color));
}
body h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: var(--body-text-color);
  margin-top: 25px;
}
body h2 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 96px;
  color: var(--heading-color);
}
body h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: var(--body-text-color);
}
.home-body-button-container {
  margin-top: 40px;
}
.home-body-button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  background-color: var(--primary-button);
  border: none;
  border-radius: 4px;
  padding: 18px 46px;
}
.work-section {
  background: linear-gradient(0deg, var(--primary-color), 80%, #212121);
  margin-top: 120px;
  text-align: center;
}
.featured-project {
  margin-bottom: 70px;
}
body .work-section-weather-app-container {
  margin: auto;
}
.work-section-header {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding: 30px;
  margin-bottom: 50px;
  color: var(--heading-color);
}
.work-section-weather-app-pic {
  border-radius: 4px;
}
.work-section-weather-app-head {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 96px;
  color: var(--heading-color);
}
@media (max-width: 1400px) {
  .work-section-weather-app-head {
    font-size: 60px;
  }
}
.work-section-weather-app-p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 10px;
  color: var(--heading-color);
  margin-top: 40px;
}
.work-section-weather-app-button button {
  background: none;
  color: var(--body-text-color);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding: 18px 25px;
  border: 1px solid var(--primary-button);
  border-radius: 4px;
  margin-top: 40px;
  box-shadow: var(--primary-button) 0px 1px 4px;
}
